@import 'elements';
@import 'vars';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic);

div{
	.box-sizing(border-box);
}

body{
	background-color:@colorLight;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
	font-size: 12px;
}

.header-bar {
	margin-bottom:0;
	.navbar-inner {
		min-height: 45px;
		border:none;
		border-top:1px solid #ff4b1a;
		border-bottom:1px solid #c53a14;
		.rounded(0);
		.gradient(#fa6414,#f94819,#fa6414);
		.inner-shadow-white(0, 1px, 1px, 0.5);
		.brand {
			text-shadow:none;
			color:white;
			font-weight: 700;
		}
	}
}

@widthSideBar : 200px;
@widthDetail : 430px;

.row {
	margin-left: 0;
}

.workspace-collection {
	width: @widthSideBar ;
	position: absolute;
	left: 0;
	top: 105px;
	bottom: 0;
	background: @sideBar;
	border-right: 1px solid darken(@sideBar,10%);
	overflow-y: auto;
	overflow-x:hidden;
}

.content-collection {
	position: relative;
	max-width :100%;
	margin-left: @widthSideBar ;
	margin-right: @widthDetail + 10;
	padding-top: 10px;
	padding-bottom: 12px;
	/*overflow: scroll;*/
	padding-left: 5px;
	.category-wrapper {
		white-space: nowrap;
		overflow-x:auto;
		overflow-y:auto;
	}
}

.details-collection {
	width: @widthDetail;
	position: absolute;
	right: 0;
	top: 106px;
	background: #fbfbf9;
	bottom: 0;
	border-left: 1px solid #e8e7e3;
	.cardDetails {
		margin: 10px;
		textarea {
			.box-sizing(border-box);
			width: 100%;
		}
		.newtag, .newnotetitle {
			background: @bgNewCat;
			.rounded(0px);
			border-top: 4px solid darken(@bgNewCat,20%);
			padding: 5px;
			i {
				position: relative;
				top: -2px;
				color: darken(@bgNewCat,10%);
			}

			input {
				color: darken(@bgNewCat,25%);
				.box-shadow(none);
				background: @bgNewCat;
				border:none;
				&:focus {
					border:none;
					.box-shadow(none);
				}
			}
		}
		.notesList, .tagsList {
			background: white;
			margin-top: 10px;
			margin-bottom: 10px;
			.inner-shadow(0, 2px, 5px, 0.2);
			padding: 10px;
			.note {
				font-weight: 700;
				font-size: 1.1em;
				margin-bottom: 5px;
				margin-top:5px;
			
			}
		}
		
	}
}

.tagItem {
	background: #f7f6f2;
	border-top: 2px solid #0599eb;
	padding: 3px 5px;
	margin-left: 3px;
	.removeTag {
		color:@colorLight-05;
		&:hover {
			cursor:pointer;
			color:#e5473c;
		}
	}

}

.espace-header {
	margin-bottom:0;
	position: relative;
	.navbar-inner {
		min-height: 60px;
		h3 {
			font-weight: 700;
			color:@mainColor;
			text-transform: uppercase;
			display: inline-block;
		}
		border:none;
		.rounded(0);
		background:@header;
		.actions {
			margin-top: 10px;
		}

		.espace-name {
			min-height: 60px;
			width:@widthSideBar - 20;
			border-right:1px solid darken(@sideBar,10%);
			.box-shadow(1px 0px 0px @sideBar);
			float: left;
			.deleteSpace {
				display: none;
				position: absolute;
				top:10px;
			}	
			&:hover {
				.deleteSpace {
					display: inline-block;
				}
				
			}
		}
		.tagsList {
				float: left;
				position: relative;
				top: 20px;
				.label-white {
					color: white;
					margin-left: 10px;
				}
				ul {
					margin-left: 5px;
					li {
						list-style: none;
						display: inline-block;
					}
				}
				.tagItem {
					padding: 7px;
					border:1px solid #181a1f;
					font-size: 1.1em;
					.gradient(#21242b,#21242b,#32363f);
					.inner-shadow-white(0, 0, 3px, 0.2);
					color:#555b6b;
					&.selected {
						color: white;
						.box-shadow(0 0px 2px rgba(0,0,0,1));
						border:1px solid @mainColor;
					}
					&:hover {
						color: white;
						cursor: pointer;
					}
					.nbCards {
						color: lighten(@mainColor,10%);
						font-size: 0.8em;
						font-weight: 300;
						font-style: italic;
					}
				}
			}
	}
}

.workspaceList{

	.workspaceItem {
		// background-color: #d3d3d3;
		border-left: 3px solid lighten(@sideBar,10%);
		padding:10px;
		cursor: pointer;
		color: #a3a2a0;
		font-size: 1.2em;
		border-top: 1px solid lighten(@sideBar,2%);
		&.selected {
			color: lighten(@colorLight,10%);
			font-weight: bold;
			background-color: darken(@sideBar,5%);
			border-left: 3px solid @mainColor;
			.inner-shadow(0,0px,2px,0.8);
			&:hover {
				background-color: darken(@sideBar,5%);
			}
		}
		&:hover {
			background-color: lighten(@sideBar,5%);
		}
	}
	.new-space {
		padding: 10px;
		.newespacename {
			.box-shadow(none);
			font-weight: 200;
			background: @sideBar;
			border:none;
			width: 99%;
			font-size: 1em;
			color:@colorLight-07;
			margin-bottom: 0;
			&:focus {
				border:none;
				.box-shadow(none);
			}
		}		
	}

}

.left {
	float: left;
	display: inline;
	&:first-child{
		margin-left:5px;
	}
}

.category{
	
	padding:0px !important;
	/*float: left;*/
	position: relative;
	border:1px solid #e4e4e2;
	width: 180px;
	display: inline-block;
	margin-right: 5px;
	background: white;
	h5 {
		background: #e0e0e0;
		padding: 10px;
		margin: 0;

	}
	.new-category {
		background: @bgNewCat;
		border-top: 4px solid darken(@bgNewCat,20%);
		padding: 5px;
		.box-sizing(border-box);
			width: 100%;
		i {
			position: relative;
			top: -2px;
			color: darken(@bgNewCat,10%);
		}

		input {
			.box-sizing(border-box);
			width: 94%;
			margin-bottom: 5px;
			color: darken(@bgNewCat,25%);
			.box-shadow(none);
			background: @bgNewCat;
			border:none;
			&:focus {
				border:none;
				.box-shadow(none);
			}
		}
		&:hover {
			border-top-color: @mainColor;
		}
	}
}

.categoryList{
	/*width: 100%; CALCUL NB .CATEGORY * WIDTH CATEGORY */
	border:none !important;
	padding:0px !important;
}

.clearfix {
zoom: 1;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}


.cardList {
	// padding: 10px;
	
	/*border:1px solid #e4e4e2;*/
	
	.cardItem{
		/*border:1px solid #e4e4e2;*/
		padding: 15px;
		cursor: pointer;		
		border-left:3px solid #e7e7e5;
		border-top: 1px solid #f7f7f7;
		/*.rounded(2px);*/
		&.selected {
			border-left:3px solid @mainColor;
			background: #f7dfca;
		}

		

		&:last-child{
			border-bottom: 1px solid darken(@colorLight,5%);
		}

		
		&:first-child {
			border-top: 1px dashed darken(@colorLight,5%);
			background:red;
		}
		
	}

	.cardTitle{
		font-weight: bold;
		text-transform: uppercase; 
		overflow: hidden;
		word-break: break-word;
		white-space: normal;

	}	

	.cardDesc {
		color:#8f8c83;
		overflow: hidden;
		overflow: hidden;
		word-break: break-word;
		white-space: normal;
		margin:0;
	}

	.actions {
		/*border-top:4px solid @mainColor;*/
		padding:10px;
		// padding-bottom: 5px;
		background: white;
		margin-top: 5px;
		margin-bottom: 5px;
		/*border-bottom: 1px dashed darken(@colorLight,5%);*/
		
		/*.inner-shadow(1px, 1px, 1px, 0.1);*/
		/*.rounded(2px);*/
		.newcardtitle {
			border:none;
			background: white;
			.box-shadow(none);
			.box-sizing(border-box);
			width: 100%;
			&:focus {
				.box-shadow(none);
			}
			font-style: italic;

		}
		input {
			margin-bottom: 0;
		}
	}
}


.btn {
	.rounded(3px);
	&.btn-primary {
		.inner-shadow-white(0, 1px, 2px,0.3);
		border:1px solid @borderPrimary;
		background: @bgPrimary;
	}
	&.btn-success {
		.inner-shadow-white(0, 1px, 2px,0.3);
		border:1px solid @borderSuccess;
		background: @bgSuccess;
	}
}
