.category{
	border:1px solid black;
	padding:2px;
}

.categoryList{
	border:1px solid red;
	padding:2px;
}

.hide{
	display: none;
}

.tagItem{
	padding: 1px;
	margin: 1px;
	border: 1px solid black;
}

.removeTag{
	cursor: pointer;
}

.removeTag:hover{
	color:red;
	font-weight: bold;
}