@import 'elements';
@import 'vars';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic);

div{
	.box-sizing(border-box);
}

body{
	background-color:@colorLight;
	font-family: 'Source Sans Pro', sans-serif;
}

.header-bar {
	margin-bottom:0;
	.navbar-inner {
		min-height: 45px;
		border:none;
		border-top:1px solid #ff4b1a;
		border-bottom:1px solid #c53a14;
		.rounded(0);
		.gradient(#fa6414,#f94819,#fa6414);
		.inner-shadow-white(0, 1px, 1px, 0.5);
		.brand {
			text-shadow:none;
			color:white;
			font-weight: 700;
		}
	}
}

.row {
	margin-left: 0;
}

.workspace-collection {
	width: 200px;
	position: absolute;
	left: 0;
}

.content-collection {
	position: absolute;
	max-width: 100%;
	float: right;
	right: 400px;
	left:200px;
}

.details-collection {
	width: 400px;
	position: absolute;
	right: 0;
}

.espace-header {
	margin-bottom:0;
	.navbar-inner {
		h3 {
			font-weight: 700;
			color:@mainColor;
			text-transform: uppercase;
		}
		border:none;
		.rounded(0);
		background:@header;
		.actions {
			margin-top: 10px;
		}
	}
}

.workspaceList{
	background: @sideBar;
	border-right: 1px solid darken(@sideBar,10%);
	.workspaceItem {
		// background-color: #d3d3d3;
		border-left: 3px solid lighten(@sideBar,10%);
		padding:10px;
		cursor: pointer;
		color: #a3a2a0;
		&.selected {
			color: lighten(@colorLight,10%);
			font-weight: bold;
			background-color: lighten(@sideBar,5%);
			border-left: 3px solid @mainColor;
		}
		&:hover {
			background-color: lighten(@sideBar,5%);
		}
	}
	.new-space {
		padding: 10px;
		.newespacename {
			background: @sideBar;
			border:none;
			width: 99%;
			&:focus {
				border:none;
				.box-shadow(none);
			}
		}		
	}

}



.cardList {
	// padding: 10px;
	margin: 10px;
	border:1px solid #f5f5f5;
	width: 250px;
	float: left;
	background: white;
	.cardItem{
		// border:1px solid #d5d5d5;	
		margin-top: 10px;
		margin-bottom: 10px;
		padding:3px;
		cursor: pointer;
		&.selected {
			background-color: #d5d5d5;
		}
		border-bottom: 1px dashed darken(@colorLight,5%);
	}

	.cardTitle{
		font-weight: bold;
	}	

	.actions {
		border-top:2px solid @mainColor;
		padding:10px;
		// padding-bottom: 5px;
		border-bottom: 1px dashed darken(@colorLight,5%);
		.newcardtitle {
			border:none;
			background: white;
			.box-shadow(none);
			&:focus {
				.box-shadow(none);
			}
			font-style: italic;
		}
	}
}




