@import 'elements';
@import 'vars';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic);

div{
	.box-sizing(border-box);
}

body{
	background-color:@colorLight;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
	font-size: 12px;
}

.header-bar {
	margin-bottom:0;
	.navbar-inner {
		min-height: 45px;
		border:none;
		border-top:1px solid #ff4b1a;
		border-bottom:1px solid #c53a14;
		.rounded(0);
		.gradient(#fa6414,#f94819,#fa6414);
		.inner-shadow-white(0, 1px, 1px, 0.5);
		.brand {
			text-shadow:none;
			color:white;
			font-weight: 700;
		}
	}
}

@widthSideBar : 200px;
@widthDetail : 500px;

.row {
	margin-left: 0;
}

.workspace-collection {
	width: @widthSideBar ;
	position: absolute;
	left: 0;
	top: 105px;
	bottom: 0;
	background: @sideBar;
	border-right: 1px solid darken(@sideBar,10%);
	overflow-y: auto;
	overflow-x:hidden;
}

.content-collection {
	position: relative;
	width :100%;
	margin-left: @widthSideBar ;
	margin-right: @widthDetail + 10;
	padding-top: 10px;
	padding-bottom: 12px;
	.category-wrapper {
		overflow-x: auto;
		overflow-y: auto;
	}
}

.details-collection {
	width: @widthDetail;
	position: absolute;
	right: 0;
	top: 106px;
	background: #fbfbf9;
	bottom: 0;
	border-left: 1px solid #e8e7e3;
	.cardDetails {
		margin-left: 10px;
	}
}

.espace-header {
	margin-bottom:0;
	position: relative;
	.navbar-inner {
		min-height: 60px;
		h3 {
			font-weight: 700;
			color:@mainColor;
			text-transform: uppercase;
		}
		border:none;
		.rounded(0);
		background:@header;
		.actions {
			margin-top: 10px;
		}
	}
}

.workspaceList{

	.workspaceItem {
		// background-color: #d3d3d3;
		border-left: 3px solid lighten(@sideBar,10%);
		padding:10px;
		cursor: pointer;
		color: #a3a2a0;
		font-size: 1.2em;
		&.selected {
			color: lighten(@colorLight,10%);
			font-weight: bold;
			background-color: lighten(@sideBar,5%);
			border-left: 3px solid @mainColor;
		}
		&:hover {
			background-color: lighten(@sideBar,5%);
		}
	}
	.new-space {
		padding: 10px;
		.newespacename {
			.box-shadow(none);
			background: @sideBar;
			border:none;
			width: 99%;
			&:focus {
				border:none;
				.box-shadow(none);
			}
		}		
	}

}

.category{
	border:none !important;
	padding:0px !important;
	float: left;
	position: relative;
	width: 250px;
	display: table;
	.new-category {
		background: @bgNewCat;
		border-top: 4px solid darken(@bgNewCat,20%);
		padding: 5px;
		i {
			position: relative;
			top: -2px;
			color: darken(@bgNewCat,10%);
		}

		input {
			color: darken(@bgNewCat,25%);
			.box-shadow(none);
			background: @bgNewCat;
			border:none;
			&:focus {
				border:none;
				.box-shadow(none);
			}
		}
	}
	&:first-child{
		margin-left:10px;
	}
}

.categoryList{
	
	border:none !important;
	padding:0px !important;
}

.clearfix {
zoom: 1;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}


.cardList {
	// padding: 10px;
	margin-right: 10px;
	background: white;
	border:1px solid #e4e4e2;

	.cardItem{
		// border:1px solid #d5d5d5;	
		padding: 15px;
		cursor: pointer;
		&.selected {
			background-color: @colorLight;
		}
		border-bottom: 1px dashed darken(@colorLight,5%);
	}

	.cardTitle{
		font-weight: bold;
		text-transform: uppercase; 
		font-size: 1.2em;
	}	

	.cardDesc {
		color:#8f8c83;
	}

	.actions {
		border-top:4px solid @mainColor;
		padding:10px;
		// padding-bottom: 5px;
		border-bottom: 1px dashed darken(@colorLight,5%);
		.newcardtitle {
			border:none;
			background: white;
			.box-shadow(none);
			&:focus {
				.box-shadow(none);
			}
			font-style: italic;
		}
	}
}


.btn {
	.rounded(3px);
	&.btn-primary {
		.inner-shadow-white(0, 1px, 2px,0.3);
		border:1px solid @borderPrimary;
		background: @bgPrimary;
	}
	&.btn-success {
		.inner-shadow-white(0, 1px, 2px,0.3);
		border:1px solid @borderSuccess;
		background: @bgSuccess;
	}
}
